AccessModifierOffset: -4
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true

# Constructor initializers stuff for Warp Engine
# TODO: When we switch to CMake we could easily integrate ClangFormat 14+ which would allow us to use PackConstructorInitializers
# For now we are using deprecated alternative though
# PackConstructorInitializers: NextLineOnly -> Only for ClangFormat 14
AllowAllConstructorInitializersOnNextLine: true
BreakConstructorInitializers: BeforeComma

BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: None

# Warp Engine's indentation stuff
IndentWidth: 4
ContinuationIndentWidth: 4 
TabWidth: 4
UseTab: Never

MaxEmptyLinesToKeep: 10
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterTemplateKeyword: false # Do not add space after template keyword